{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <!-- 오류표시 Start -->
            {% include 'form_errors.html' %}
            <!-- 오류표시 End -->
            <div class="mb-3">
                <h4 class="mt-5">{{ date }}</h4>
                {% if primary_emotion %}<h5 style="color: gray;">감정분석 결과 : <span style="font-size:200%">{{ primary_emotion }}</span></h5>{% endif %}
                <textarea class="form-control" name="content" id="content" rows="20" style="resize: none"
                          placeholder="오늘 하루를 기록해주세요.">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <div class="d-grid">
                {% if form.content.value %}
                    <button type="submit" class="btn btn-primary">수정</button>
                    <a href="{% url 'haru:diary_delete' diary.id %}" class="btn btn-secondary">삭제</a>
                {% else %}
                    <button type="submit" class="btn btn-primary">저장</button>
                {% endif %}


            </div>
        </form>
    </div>
{% endblock %}
