{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <!-- 오류표시 Start -->
            {% include 'form_errors.html' %}
            <!-- 오류표시 End -->
            <div class="mb-3">
                <h4 class="mt-5">{{ date }}</h4>
                {#                {% if primary_emotion %}#}
                {#                    <h5 style="color: gray;">감정분석 결과 : <span style="font-size:200%">{{ primary_emotion }}</span>#}
                {#                    </h5>{% endif %}#}
                {% if emotion_pt %}
                    <h5 style="color: gray;">감정분석 결과:
                        <span style="color: rgba(195, 192, 187, 1)">중립({{ emotion_pt.neutral }}%), </span>
                        <span style="color: rgba(54, 162, 235, 1)">😊 행복({{ emotion_pt.happiness }}%)</span>,
                        <span style="color: rgba(255, 206, 86, 1)">😭 슬픔({{ emotion_pt.sadness }}%)</span>,
                        <span style="color: rgba(255, 99, 132, 1)">😡 분노({{ emotion_pt.angry }}%)</span>,
                        <span style="color: rgba(153, 102, 255, 1)">🤮 혐오({{ emotion_pt.disgust }}%), </span>
                        <span style="color: rgba(75, 192, 192, 1)">😨 공포({{ emotion_pt.fear }}%), </span>
                        <span style="color: rgba(255, 159, 64, 1)">😳 놀람({{ emotion_pt.surprise }}%)</span>
                    </h5>
                {% endif %}
                <textarea class="form-control" name="content" id="content" rows="20" style="resize: none"
                          placeholder="오늘 하루를 기록해주세요.">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <div class="d-grid">
                {% if form.content.value %}
                    <button type="submit" class="btn btn-primary" id="model">수정</button>
                    <a href="javascript:void(0)" class="delete btn btn-outline-secondary"
                       data-uri="{% url 'haru:diary_delete' diary.id %}">삭제</a>
                    {#                    <a href="{% url 'haru:diary_delete' diary.id %}" class="btn btn-secondary">삭제</a>#}
                {% else %}
                    <button type="submit" class="btn btn-primary" id="model">저장</button>
                {% endif %}


            </div>
        </form>
    </div>
    <div id="overlay" style="display:none;">
        <div class="spinner"></div>
        <br/>
        Loading...
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#model').click(function () {
                $('#overlay').fadeIn().delay(50000).fadeOut();
            });
        });
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
            });
        });
    </script>
{% endblock %}
