{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-2" id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            const calendar = $('#calendar').fullCalendar({
                events: '/haru/all_diaries',
                {#selectable: true,#}
                {#selectHelper: true,#}
                {#editable: true,#}
                {#eventLimit: true,#}
                showNonCurrentDates: false,
                contentHeight: 700,
                backgroundColor: '#378006',
                eventClick: function (event) {
                    const id = event.id;
                    $(location).prop('href', `http://localhost:8000/haru/diary/modify/${id}`);
                },
                eventRender: function (event, eventElement) {
                    if (event.imageurl) {
                        eventElement.find("span.fc-title").prepend("<center><img src='" + event.imageurl + "' width='35%' height='35%'><center>");
                        eventElement.css({
                            'background-color': 'white',
                            'border-color': 'white',
                        });
                    }
                },
            });
        })
    </script>
{% endblock %}